IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = N'Nory')
BEGIN
    CREATE DATABASE [Nory];
END
GO

USE [Nory];
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[Bio] [nvarchar](max) NULL,
	[Instrument] [nvarchar](100) NULL,
	[SkillLevel] [nvarchar](40) NULL,
	[LearningGoals] [nvarchar](1000) NULL,
	[TeachingSpecialty] [nvarchar](150) NULL,
	[YearsTeaching] [int] NULL,
	[AdminDepartment] [nvarchar](100) NULL,
	[AdminJobTitle] [nvarchar](100) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChordSongs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Artist] [nvarchar](150) NOT NULL,
	[Instrument] [nvarchar](40) NOT NULL,
	[Key] [nvarchar](20) NULL,
	[CapoFret] [int] NULL,
	[TempoBpm] [int] NULL,
	[TempoNote] [nvarchar](80) NULL,
	[ChordMap] [nvarchar](2000) NOT NULL,
	[StrummingPattern] [nvarchar](250) NULL,
	[AttributionUrl] [nvarchar](1000) NULL,
	[AddedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ChordSongs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[InstructorId] [nvarchar](450) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 9/26/2026 9:42:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [nvarchar](450) NOT NULL,
	[CourseId] [int] NOT NULL,
	[EnrolledAt] [datetime2](7) NOT NULL,
	[CompletedAt] [datetime2](7) NULL,
	[Status] [int] NOT NULL,
	[ProgressPercentage] [float] NOT NULL,
	[CertificateUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Enrollments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LessonCompletions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [nvarchar](450) NOT NULL,
	[LessonId] [int] NOT NULL,
	[CompletedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_LessonCompletions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Content] [nvarchar](2000) NOT NULL,
	[CourseId] [int] NOT NULL,
	[OrderIndex] [int] NOT NULL,
	[VideoUrl] [nvarchar](max) NULL,
	[AudioUrl] [nvarchar](max) NULL,
	[NotationUrl] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Lessons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizAnswers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuizAttemptId] [int] NOT NULL,
	[QuizQuestionId] [int] NOT NULL,
	[SelectedAnswer] [nvarchar](max) NULL,
	[SelectedAnswerIndex] [int] NULL,
	[IsCorrect] [bit] NOT NULL,
	[PointsEarned] [float] NOT NULL,
	[Feedback] [nvarchar](max) NULL,
	[AnsweredAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_QuizAnswers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizAttempts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuizId] [int] NOT NULL,
	[StudentId] [nvarchar](450) NOT NULL,
	[StartedAt] [datetime2](7) NOT NULL,
	[CompletedAt] [datetime2](7) NULL,
	[ScorePercentage] [float] NULL,
	[IsPassed] [bit] NOT NULL,
 CONSTRAINT [PK_QuizAttempts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizQuestions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuizId] [int] NOT NULL,
	[QuestionText] [nvarchar](500) NOT NULL,
	[Type] [int] NOT NULL,
	[AudioUrl] [nvarchar](max) NULL,
	[CorrectAnswerIndex] [int] NULL,
	[CorrectAnswer] [bit] NULL,
	[CorrectAnswerText] [nvarchar](max) NULL,
	[OptionsJson] [nvarchar](max) NULL,
	[Points] [int] NOT NULL,
	[OrderIndex] [int] NOT NULL,
	[ToneSequence] [nvarchar](200) NULL,
 CONSTRAINT [PK_QuizQuestions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quizzes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Type] [int] NOT NULL,
	[LessonId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Quizzes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resources](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Type] [int] NOT NULL,
	[Url] [nvarchar](1000) NOT NULL,
	[LessonId] [int] NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Resources] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentAwards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [nvarchar](450) NOT NULL,
	[AwardKey] [nvarchar](120) NOT NULL,
	[Title] [nvarchar](120) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[EarnedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_StudentAwards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'14FA2869-598A-4A95-BB08-B127986F0241', N'Instructor', N'INSTRUCTOR', N'65607775-1C7C-4054-9D30-C6B374DD4CFE')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'72257EC8-8F33-42AC-B687-D6F79420731D', N'Student', N'STUDENT', N'59273C6D-60D5-4A69-A237-AC002D2C046B')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'CC2771AF-92D4-4F2F-916E-A208F95FBEF4', N'Admin', N'ADMIN', N'B04DD513-39D4-4ABE-8556-B64C6726A4AA')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'87f4731d-efef-4975-88b8-80ae7c589d71', N'14FA2869-598A-4A95-BB08-B127986F0241')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0f2e0ade-3487-4da0-ae32-867c5f249259', N'72257EC8-8F33-42AC-B687-D6F79420731D')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'ee8b1a61-0fc7-41e4-82b1-bb56b69ba8bd', N'72257EC8-8F33-42AC-B687-D6F79420731D')
GO
SET IDENTITY_INSERT [dbo].[ChordSongs] ON 

INSERT [dbo].[ChordSongs] ([Id], [Title], [Artist], [Instrument], [Key], [CapoFret], [TempoBpm], [TempoNote], [ChordMap], [StrummingPattern], [AttributionUrl], [AddedAt]) VALUES (1, N'Najeek', N'Bartika Eam Rai', N'Guitar', N'G', 3, 100, N'Starter metronome setting only; adjust by listening to the recording.', N'Intro: G â€“ Cadd9 (repeat)
Verse: G â€“ Cadd9 (repeat)
Refrain: C â€“ Em â€“ D â€“ Em
Chord palette: G, Cadd9, C, Em, D', NULL, N'https://tabs.ultimate-guitar.com/tab/bartika-eam-rai/najeek-chords-1897678', CAST(N'2026-09-25T07:38:29.0458385' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ChordSongs] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([Id], [Title], [Description], [InstructorId], [StartDate], [EndDate], [IsActive], [ImageUrl], [CreatedAt]) VALUES (2, N'Music Theory Fundamentals', N'A self-contained starter course in notation, rhythm, scales, intervals, and chords, with in-app theory and listening practice.', N'87f4731d-efef-4975-88b8-80ae7c589d71', CAST(N'2026-09-23T05:54:01.0400000' AS DateTime2), CAST(N'2026-12-23T05:54:01.0400000' AS DateTime2), 1, NULL, CAST(N'2026-09-23T05:54:01.0400000' AS DateTime2))
INSERT [dbo].[Courses] ([Id], [Title], [Description], [InstructorId], [StartDate], [EndDate], [IsActive], [ImageUrl], [CreatedAt]) VALUES (3, N'Guitar Chords', N'Testingg', N'87f4731d-efef-4975-88b8-80ae7c589d71', CAST(N'2026-09-25T00:00:00.0000000' AS DateTime2), CAST(N'2026-12-25T00:00:00.0000000' AS DateTime2), 1, NULL, CAST(N'2026-09-25T06:56:06.9572865' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Enrollments] ON 

INSERT [dbo].[Enrollments] ([Id], [StudentId], [CourseId], [EnrolledAt], [CompletedAt], [Status], [ProgressPercentage], [CertificateUrl]) VALUES (1, N'ee8b1a61-0fc7-41e4-82b1-bb56b69ba8bd', 2, CAST(N'2026-09-25T06:54:11.0028013' AS DateTime2), NULL, 0, 0, NULL)
INSERT [dbo].[Enrollments] ([Id], [StudentId], [CourseId], [EnrolledAt], [CompletedAt], [Status], [ProgressPercentage], [CertificateUrl]) VALUES (2, N'ee8b1a61-0fc7-41e4-82b1-bb56b69ba8bd', 3, CAST(N'2026-09-25T08:21:52.2078867' AS DateTime2), NULL, 0, 0, NULL)
INSERT [dbo].[Enrollments] ([Id], [StudentId], [CourseId], [EnrolledAt], [CompletedAt], [Status], [ProgressPercentage], [CertificateUrl]) VALUES (3, N'0f2e0ade-3487-4da0-ae32-867c5f249259', 3, CAST(N'2026-09-25T17:49:41.1794376' AS DateTime2), NULL, 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[Enrollments] OFF
GO
SET IDENTITY_INSERT [dbo].[LessonCompletions] ON 

INSERT [dbo].[LessonCompletions] ([Id], [StudentId], [LessonId], [CompletedAt]) VALUES (1, N'0f2e0ade-3487-4da0-ae32-867c5f249259', 6, CAST(N'2026-09-26T07:54:59.3725916' AS DateTime2))
SET IDENTITY_INSERT [dbo].[LessonCompletions] OFF
GO
SET IDENTITY_INSERT [dbo].[Lessons] ON 

SET IDENTITY_INSERT [dbo].[Lessons] OFF
GO
SET IDENTITY_INSERT [dbo].[QuizAnswers] ON 

INSERT [dbo].[QuizAnswers] ([Id], [QuizAttemptId], [QuizQuestionId], [SelectedAnswer], [SelectedAnswerIndex], [IsCorrect], [PointsEarned], [Feedback], [AnsweredAt]) VALUES (9, 3, 1, N'', 0, 0, 0, N'Incorrect. The correct answer is option 2', CAST(N'2026-09-26T14:31:49.2042376' AS DateTime2))
INSERT [dbo].[QuizAnswers] ([Id], [QuizAttemptId], [QuizQuestionId], [SelectedAnswer], [SelectedAnswerIndex], [IsCorrect], [PointsEarned], [Feedback], [AnsweredAt]) VALUES (10, 3, 2, N'', 2, 1, 10, N'Correct!', CAST(N'2026-09-26T14:31:49.2386789' AS DateTime2))
INSERT [dbo].[QuizAnswers] ([Id], [QuizAttemptId], [QuizQuestionId], [SelectedAnswer], [SelectedAnswerIndex], [IsCorrect], [PointsEarned], [Feedback], [AnsweredAt]) VALUES (11, 3, 3, N'', 1, 0, 0, N'Incorrect. The correct answer is option 3', CAST(N'2026-09-26T14:31:49.2447762' AS DateTime2))
SET IDENTITY_INSERT [dbo].[QuizAnswers] OFF
GO
SET IDENTITY_INSERT [dbo].[QuizAttempts] ON 

INSERT [dbo].[QuizAttempts] ([Id], [QuizId], [StudentId], [StartedAt], [CompletedAt], [ScorePercentage], [IsPassed]) VALUES (3, 1, N'0f2e0ade-3487-4da0-ae32-867c5f249259', CAST(N'2026-09-26T14:31:48.8184974' AS DateTime2), CAST(N'2026-09-26T14:31:49.2449414' AS DateTime2), 33, 0)
INSERT [dbo].[QuizAttempts] ([Id], [QuizId], [StudentId], [StartedAt], [CompletedAt], [ScorePercentage], [IsPassed]) VALUES (4, 6, N'0f2e0ade-3487-4da0-ae32-867c5f249259', CAST(N'2026-09-26T14:35:00.8716285' AS DateTime2), CAST(N'2026-09-26T14:35:01.3675691' AS DateTime2), 100, 1)
SET IDENTITY_INSERT [dbo].[QuizAttempts] OFF
GO
SET IDENTITY_INSERT [dbo].[QuizQuestions] ON 

INSERT [dbo].[QuizQuestions] ([Id], [QuizId], [QuestionText], [Type], [AudioUrl], [CorrectAnswerIndex], [CorrectAnswer], [CorrectAnswerText], [OptionsJson], [Points], [OrderIndex], [ToneSequence]) VALUES (1, 1, N'What is the step pattern of a major scale, starting from the root?', 0, NULL, 2, NULL, NULL, N'["W-W-H-W-W-W-H","W-W-H-W-W-H-W","H-W-W-H-W-W-W","W-H-W-W-H-W-W"]', 10, 1, NULL)
INSERT [dbo].[QuizQuestions] ([Id], [QuizId], [QuestionText], [Type], [AudioUrl], [CorrectAnswerIndex], [CorrectAnswer], [CorrectAnswerText], [OptionsJson], [Points], [OrderIndex], [ToneSequence]) VALUES (2, 1, N'How many sharps are in the key signature of G major?', 0, NULL, 2, NULL, NULL, N'["0","1","2","3"]', 10, 2, NULL)
INSERT [dbo].[QuizQuestions] ([Id], [QuizId], [QuestionText], [Type], [AudioUrl], [CorrectAnswerIndex], [CorrectAnswer], [CorrectAnswerText], [OptionsJson], [Points], [OrderIndex], [ToneSequence]) VALUES (3, 1, N'The 7th degree of a major scale is called the:', 0, NULL, 3, NULL, NULL, N'["Subdominant","Submediant","Leading Tone","Mediant"]', 10, 3, NULL)
SET IDENTITY_INSERT [dbo].[QuizQuestions] OFF
GO
SET IDENTITY_INSERT [dbo].[Quizzes] ON 

INSERT [dbo].[Quizzes] ([Id], [Title], [Description], [Type], [LessonId], [CreatedAt], [IsActive]) VALUES (1, N'Major Scale Check', N'Quick check on the major scale formula and key signatures.', 0, 8, CAST(N'2026-09-23T05:54:01.0433333' AS DateTime2), 1)
INSERT [dbo].[Quizzes] ([Id], [Title], [Description], [Type], [LessonId], [CreatedAt], [IsActive]) VALUES (2, N'Interval Identification', N'Identify intervals by their generic and specific names - including two real, listen-and-answer ear training questions.', 1, 9, CAST(N'2026-09-23T05:54:01.0466667' AS DateTime2), 1)
INSERT [dbo].[Quizzes] ([Id], [Title], [Description], [Type], [LessonId], [CreatedAt], [IsActive]) VALUES (3, N'Pitch and Interval Ear Training', N'Listen to synthesized notes and identify a pitch or interval.', 1, 9, CAST(N'2026-09-25T07:38:29.0445531' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Quizzes] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentAwards] ON 

INSERT [dbo].[StudentAwards] ([Id], [StudentId], [AwardKey], [Title], [Description], [EarnedAt]) VALUES (1, N'0f2e0ade-3487-4da0-ae32-867c5f249259', N'quiz-pass-6', N'Quiz Passed: Guitar Chord Shape Quiz', N'Passed the Theory quiz in Music Theory Fundamentals.', CAST(N'2026-09-26T14:35:01.5377617' AS DateTime2))
SET IDENTITY_INSERT [dbo].[StudentAwards] OFF
GO
ALTER TABLE [dbo].[ChordSongs] ADD  CONSTRAINT [DF_ChordSongs_AddedAt]  DEFAULT (sysutcdatetime()) FOR [AddedAt]
GO
ALTER TABLE [dbo].[LessonCompletions] ADD  CONSTRAINT [DF_LessonCompletions_CompletedAt]  DEFAULT (sysutcdatetime()) FOR [CompletedAt]
GO
ALTER TABLE [dbo].[StudentAwards] ADD  CONSTRAINT [DF_StudentAwards_EarnedAt]  DEFAULT (sysutcdatetime()) FOR [EarnedAt]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_AspNetUsers_InstructorId] FOREIGN KEY([InstructorId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_AspNetUsers_InstructorId]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_AspNetUsers_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_AspNetUsers_StudentId]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Courses_CourseId]
GO
ALTER TABLE [dbo].[LessonCompletions]  WITH CHECK ADD  CONSTRAINT [FK_LessonCompletions_AspNetUsers_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[LessonCompletions] CHECK CONSTRAINT [FK_LessonCompletions_AspNetUsers_StudentId]
GO
ALTER TABLE [dbo].[LessonCompletions]  WITH CHECK ADD  CONSTRAINT [FK_LessonCompletions_Lessons_LessonId] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LessonCompletions] CHECK CONSTRAINT [FK_LessonCompletions_Lessons_LessonId]
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD  CONSTRAINT [FK_Lessons_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lessons] CHECK CONSTRAINT [FK_Lessons_Courses_CourseId]
GO
ALTER TABLE [dbo].[QuizAnswers]  WITH CHECK ADD  CONSTRAINT [FK_QuizAnswers_QuizAttempts_QuizAttemptId] FOREIGN KEY([QuizAttemptId])
REFERENCES [dbo].[QuizAttempts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuizAnswers] CHECK CONSTRAINT [FK_QuizAnswers_QuizAttempts_QuizAttemptId]
GO
ALTER TABLE [dbo].[QuizAnswers]  WITH CHECK ADD  CONSTRAINT [FK_QuizAnswers_QuizQuestions_QuizQuestionId] FOREIGN KEY([QuizQuestionId])
REFERENCES [dbo].[QuizQuestions] ([Id])
GO
ALTER TABLE [dbo].[QuizAnswers] CHECK CONSTRAINT [FK_QuizAnswers_QuizQuestions_QuizQuestionId]
GO
ALTER TABLE [dbo].[QuizAttempts]  WITH CHECK ADD  CONSTRAINT [FK_QuizAttempts_AspNetUsers_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[QuizAttempts] CHECK CONSTRAINT [FK_QuizAttempts_AspNetUsers_StudentId]
GO
ALTER TABLE [dbo].[QuizAttempts]  WITH CHECK ADD  CONSTRAINT [FK_QuizAttempts_Quizzes_QuizId] FOREIGN KEY([QuizId])
REFERENCES [dbo].[Quizzes] ([Id])
GO
ALTER TABLE [dbo].[QuizAttempts] CHECK CONSTRAINT [FK_QuizAttempts_Quizzes_QuizId]
GO
ALTER TABLE [dbo].[QuizQuestions]  WITH CHECK ADD  CONSTRAINT [FK_QuizQuestions_Quizzes_QuizId] FOREIGN KEY([QuizId])
REFERENCES [dbo].[Quizzes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuizQuestions] CHECK CONSTRAINT [FK_QuizQuestions_Quizzes_QuizId]
GO
ALTER TABLE [dbo].[Quizzes]  WITH CHECK ADD  CONSTRAINT [FK_Quizzes_Lessons_LessonId] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Quizzes] CHECK CONSTRAINT [FK_Quizzes_Lessons_LessonId]
GO
ALTER TABLE [dbo].[Resources]  WITH CHECK ADD  CONSTRAINT [FK_Resources_Lessons_LessonId] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Resources] CHECK CONSTRAINT [FK_Resources_Lessons_LessonId]
GO
ALTER TABLE [dbo].[StudentAwards]  WITH CHECK ADD  CONSTRAINT [FK_StudentAwards_AspNetUsers_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[StudentAwards] CHECK CONSTRAINT [FK_StudentAwards_AspNetUsers_StudentId]
GO
