USE [master]
GO
/****** Object:  Database [Nory]    Script Date: 9/29/2026 11:07:28 PM ******/
CREATE DATABASE [Nory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Nory', FILENAME = N'C:\Users\bshal\Nory.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Nory_log', FILENAME = N'C:\Users\bshal\Nory_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Nory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Nory]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 9/29/2026 11:07:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 9/29/2026 11:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 9/29/2026 11:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 9/29/2026 11:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 9/29/2026 11:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 9/29/2026 11:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[Bio] [nvarchar](max) NULL,
	[Instrument] [nvarchar](100) NULL,
	[SkillLevel] [nvarchar](40) NULL,
	[LearningGoals] [nvarchar](1000) NULL,
	[TeachingSpecialty] [nvarchar](150) NULL,
	[YearsTeaching] [int] NULL,
	[AdminDepartment] [nvarchar](100) NULL,
	[AdminJobTitle] [nvarchar](100) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 9/29/2026 11:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChordSongs]    Script Date: 9/29/2026 11:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChordSongs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Artist] [nvarchar](150) NOT NULL,
	[Instrument] [nvarchar](40) NOT NULL,
	[Key] [nvarchar](20) NULL,
	[CapoFret] [int] NULL,
	[TempoBpm] [int] NULL,
	[TempoNote] [nvarchar](80) NULL,
	[ChordMap] [nvarchar](2000) NOT NULL,
	[StrummingPattern] [nvarchar](250) NULL,
	[AttributionUrl] [nvarchar](1000) NULL,
	[ImageUrl] [nvarchar](200) NULL,
	[AddedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ChordSongs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 9/29/2026 11:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[InstructorId] [nvarchar](450) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 9/29/2026 11:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [nvarchar](450) NOT NULL,
	[CourseId] [int] NOT NULL,
	[EnrolledAt] [datetime2](7) NOT NULL,
	[CompletedAt] [datetime2](7) NULL,
	[Status] [int] NOT NULL,
	[ProgressPercentage] [float] NOT NULL,
	[CertificateUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Enrollments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LessonCompletions]    Script Date: 9/29/2026 11:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LessonCompletions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [nvarchar](450) NOT NULL,
	[LessonId] [int] NOT NULL,
	[CompletedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_LessonCompletions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 9/29/2026 11:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Content] [nvarchar](2000) NOT NULL,
	[CourseId] [int] NOT NULL,
	[OrderIndex] [int] NOT NULL,
	[VideoUrl] [nvarchar](max) NULL,
	[AudioUrl] [nvarchar](max) NULL,
	[NotationUrl] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Lessons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizAnswers]    Script Date: 9/29/2026 11:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizAnswers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuizAttemptId] [int] NOT NULL,
	[QuizQuestionId] [int] NOT NULL,
	[SelectedAnswer] [nvarchar](max) NULL,
	[SelectedAnswerIndex] [int] NULL,
	[IsCorrect] [bit] NOT NULL,
	[PointsEarned] [float] NOT NULL,
	[Feedback] [nvarchar](max) NULL,
	[AnsweredAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_QuizAnswers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizAttempts]    Script Date: 9/29/2026 11:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizAttempts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuizId] [int] NOT NULL,
	[StudentId] [nvarchar](450) NOT NULL,
	[StartedAt] [datetime2](7) NOT NULL,
	[CompletedAt] [datetime2](7) NULL,
	[ScorePercentage] [float] NULL,
	[IsPassed] [bit] NOT NULL,
 CONSTRAINT [PK_QuizAttempts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizQuestions]    Script Date: 9/29/2026 11:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizQuestions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuizId] [int] NOT NULL,
	[QuestionText] [nvarchar](500) NOT NULL,
	[Type] [int] NOT NULL,
	[AudioUrl] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[CorrectAnswerIndex] [int] NULL,
	[CorrectAnswer] [bit] NULL,
	[CorrectAnswerText] [nvarchar](max) NULL,
	[OptionsJson] [nvarchar](max) NULL,
	[Points] [int] NOT NULL,
	[OrderIndex] [int] NOT NULL,
	[ToneSequence] [nvarchar](200) NULL,
 CONSTRAINT [PK_QuizQuestions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quizzes]    Script Date: 9/29/2026 11:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quizzes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Type] [int] NOT NULL,
	[LessonId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Quizzes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resources]    Script Date: 9/29/2026 11:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resources](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Type] [int] NOT NULL,
	[Url] [nvarchar](1000) NOT NULL,
	[LessonId] [int] NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Resources] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoredImages]    Script Date: 9/29/2026 11:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoredImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[ContentType] [nvarchar](100) NOT NULL,
	[SizeBytes] [bigint] NOT NULL,
	[Data] [varbinary](max) NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
	[UploadedById] [nvarchar](450) NULL,
 CONSTRAINT [PK_StoredImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentAwards]    Script Date: 9/29/2026 11:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentAwards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [nvarchar](450) NOT NULL,
	[AwardKey] [nvarchar](120) NOT NULL,
	[Title] [nvarchar](120) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[EarnedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_StudentAwards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'14FA2869-598A-4A95-BB08-B127986F0241', N'Instructor', N'INSTRUCTOR', N'65607775-1C7C-4054-9D30-C6B374DD4CFE')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'72257EC8-8F33-42AC-B687-D6F79420731D', N'Student', N'STUDENT', N'59273C6D-60D5-4A69-A237-AC002D2C046B')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'CC2771AF-92D4-4F2F-916E-A208F95FBEF4', N'Admin', N'ADMIN', N'B04DD513-39D4-4ABE-8556-B64C6726A4AA')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0f2e0ade-3487-4da0-ae32-867c5f249259', N'72257EC8-8F33-42AC-B687-D6F79420731D')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'87f4731d-efef-4975-88b8-80ae7c589d71', N'14FA2869-598A-4A95-BB08-B127986F0241')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'd8beafed-aa73-4a84-9cb7-1d5097a3bb4a', N'CC2771AF-92D4-4F2F-916E-A208F95FBEF4')
GO
SET IDENTITY_INSERT [dbo].[ChordSongs] ON 

INSERT [dbo].[ChordSongs] ([Id], [Title], [Artist], [Instrument], [Key], [CapoFret], [TempoBpm], [TempoNote], [ChordMap], [StrummingPattern], [AttributionUrl], [ImageUrl], [AddedAt]) VALUES (20, N'Najeek', N'Bartika Eam Rai', N'Guitar', N'G', 3, 100, N'Starter tempo; adjust by ear.', N'Intro: G - Cadd9 | Verse: G - Cadd9 | Refrain: C - Em - D - Em', N'D-D-U-U-D-U', N'https://tabs.ultimate-guitar.com/', N'/media/3', CAST(N'2026-09-29T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[ChordSongs] ([Id], [Title], [Artist], [Instrument], [Key], [CapoFret], [TempoBpm], [TempoNote], [ChordMap], [StrummingPattern], [AttributionUrl], [ImageUrl], [AddedAt]) VALUES (21, N'House of the Rising Sun', N'Traditional', N'Guitar', N'Am', NULL, 85, N'Use a slow arpeggiated feel.', N'Verse: Am - C - D - F | Am - C - E - E', N'D-U-D-U-D-U', NULL, N'/media/1', CAST(N'2026-09-29T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[ChordSongs] ([Id], [Title], [Artist], [Instrument], [Key], [CapoFret], [TempoBpm], [TempoNote], [ChordMap], [StrummingPattern], [AttributionUrl], [ImageUrl], [AddedAt]) VALUES (22, N'Perfect', N'Practice Arrangement', N'Guitar', N'G', 1, 95, N'Use four beats per chord while learning.', N'Practice loop: G - Em - C - D', N'D-D-U-U-D-U', NULL, N'/media/2', CAST(N'2026-09-29T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ChordSongs] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([Id], [Title], [Description], [InstructorId], [StartDate], [EndDate], [IsActive], [ImageUrl], [CreatedAt]) VALUES (10, N'Music Theory Fundamentals', N'Build a strong foundation in notation, pitch, scales, intervals and harmony through short lessons and practice.', N'87f4731d-efef-4975-88b8-80ae7c589d71', CAST(N'2026-09-29T00:00:00.0000000' AS DateTime2), CAST(N'2027-03-29T00:00:00.0000000' AS DateTime2), 1, N'/images/course-music-theory.svg', CAST(N'2026-09-29T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Courses] ([Id], [Title], [Description], [InstructorId], [StartDate], [EndDate], [IsActive], [ImageUrl], [CreatedAt]) VALUES (11, N'Beginner Guitar Essentials', N'Learn guitar setup, tuning, fretboard notes, rhythm technique and essential open chords from the ground up.', N'87f4731d-efef-4975-88b8-80ae7c589d71', CAST(N'2026-09-29T00:00:00.0000000' AS DateTime2), CAST(N'2027-03-29T00:00:00.0000000' AS DateTime2), 1, N'/images/course-beginner-guitar.svg', CAST(N'2026-09-29T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Courses] ([Id], [Title], [Description], [InstructorId], [StartDate], [EndDate], [IsActive], [ImageUrl], [CreatedAt]) VALUES (12, N'Rhythm & Note Reading', N'Learn note values, rests, time signatures and counting patterns so you can read and perform rhythms confidently.', N'87f4731d-efef-4975-88b8-80ae7c589d71', CAST(N'2026-09-29T00:00:00.0000000' AS DateTime2), CAST(N'2027-03-29T00:00:00.0000000' AS DateTime2), 1, N'/images/course-rhythm-reading.svg', CAST(N'2026-09-29T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Enrollments] ON 

INSERT [dbo].[Enrollments] ([Id], [StudentId], [CourseId], [EnrolledAt], [CompletedAt], [Status], [ProgressPercentage], [CertificateUrl]) VALUES (10, N'0f2e0ade-3487-4da0-ae32-867c5f249259', 10, CAST(N'2026-09-29T00:00:00.0000000' AS DateTime2), NULL, 0, 0, NULL)
INSERT [dbo].[Enrollments] ([Id], [StudentId], [CourseId], [EnrolledAt], [CompletedAt], [Status], [ProgressPercentage], [CertificateUrl]) VALUES (11, N'0f2e0ade-3487-4da0-ae32-867c5f249259', 11, CAST(N'2026-09-29T00:00:00.0000000' AS DateTime2), NULL, 0, 0, NULL)
INSERT [dbo].[Enrollments] ([Id], [StudentId], [CourseId], [EnrolledAt], [CompletedAt], [Status], [ProgressPercentage], [CertificateUrl]) VALUES (12, N'0f2e0ade-3487-4da0-ae32-867c5f249259', 13, CAST(N'2026-09-29T16:59:56.5562393' AS DateTime2), NULL, 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[Enrollments] OFF
GO
SET IDENTITY_INSERT [dbo].[Lessons] ON 

SET IDENTITY_INSERT [dbo].[Lessons] OFF
GO
SET IDENTITY_INSERT [dbo].[QuizAnswers] ON 

INSERT [dbo].[QuizAnswers] ([Id], [QuizAttemptId], [QuizQuestionId], [SelectedAnswer], [SelectedAnswerIndex], [IsCorrect], [PointsEarned], [Feedback], [AnsweredAt]) VALUES (16, 4, 325, N'E Major', NULL, 0, 0, N'Incorrect. The correct note is: G Major', CAST(N'2026-09-29T17:14:57.6408388' AS DateTime2))
INSERT [dbo].[QuizAnswers] ([Id], [QuizAttemptId], [QuizQuestionId], [SelectedAnswer], [SelectedAnswerIndex], [IsCorrect], [PointsEarned], [Feedback], [AnsweredAt]) VALUES (17, 4, 326, N'G Major', NULL, 0, 0, N'Incorrect. The correct note is: C Major', CAST(N'2026-09-29T17:14:57.6817069' AS DateTime2))
INSERT [dbo].[QuizAnswers] ([Id], [QuizAttemptId], [QuizQuestionId], [SelectedAnswer], [SelectedAnswerIndex], [IsCorrect], [PointsEarned], [Feedback], [AnsweredAt]) VALUES (18, 4, 324, N'C Major', NULL, 0, 0, N'Incorrect. The correct note is: E major', CAST(N'2026-09-29T17:14:57.6863696' AS DateTime2))
SET IDENTITY_INSERT [dbo].[QuizAnswers] OFF
GO
SET IDENTITY_INSERT [dbo].[QuizAttempts] ON 

INSERT [dbo].[QuizAttempts] ([Id], [QuizId], [StudentId], [StartedAt], [CompletedAt], [ScorePercentage], [IsPassed]) VALUES (4, 207, N'0f2e0ade-3487-4da0-ae32-867c5f249259', CAST(N'2026-09-29T17:14:57.4978025' AS DateTime2), CAST(N'2026-09-29T17:14:57.6866298' AS DateTime2), 0, 0)
INSERT [dbo].[QuizAttempts] ([Id], [QuizId], [StudentId], [StartedAt], [CompletedAt], [ScorePercentage], [IsPassed]) VALUES (5, 201, N'0f2e0ade-3487-4da0-ae32-867c5f249259', CAST(N'2026-09-29T17:16:58.7883153' AS DateTime2), CAST(N'2026-09-29T17:16:58.8186536' AS DateTime2), 33, 0)
SET IDENTITY_INSERT [dbo].[QuizAttempts] OFF
GO
SET IDENTITY_INSERT [dbo].[QuizQuestions] ON 

INSERT [dbo].[QuizQuestions] ([Id], [QuizId], [QuestionText], [Type], [AudioUrl], [ImageUrl], [CorrectAnswerIndex], [CorrectAnswer], [CorrectAnswerText], [OptionsJson], [Points], [OrderIndex], [ToneSequence]) VALUES (300, 200, N'Which type of note is shown in the image?', 0, NULL, N'/images/note-value-whole-question.svg', 0, NULL, NULL, N'["Whole note","Half note","Quarter note","Eighth note"]', 1, 300, NULL)
INSERT [dbo].[QuizQuestions] ([Id], [QuizId], [QuestionText], [Type], [AudioUrl], [ImageUrl], [CorrectAnswerIndex], [CorrectAnswer], [CorrectAnswerText], [OptionsJson], [Points], [OrderIndex], [ToneSequence]) VALUES (301, 200, N'Which type of note is shown in the image?', 0, NULL, N'/images/note-value-quarter-question.svg', 2, NULL, NULL, N'["Whole note","Half note","Quarter note","Eighth note"]', 1, 301, NULL)
INSERT [dbo].[QuizQuestions] ([Id], [QuizId], [QuestionText], [Type], [AudioUrl], [ImageUrl], [CorrectAnswerIndex], [CorrectAnswer], [CorrectAnswerText], [OptionsJson], [Points], [OrderIndex], [ToneSequence]) VALUES (302, 200, N'Which type of note is shown in the image?', 0, NULL, N'/images/note-value-eighth-question.svg', 3, NULL, NULL, N'["Whole note","Half note","Quarter note","Eighth note"]', 1, 302, NULL)
SET IDENTITY_INSERT [dbo].[QuizQuestions] OFF
GO
SET IDENTITY_INSERT [dbo].[Quizzes] ON 

INSERT [dbo].[Quizzes] ([Id], [Title], [Description], [Type], [LessonId], [CreatedAt], [IsActive], [ImageUrl]) VALUES (200, N'Find the Note Value', N'Look at each musical symbol and identify its duration.', 0, 101, CAST(N'2026-09-29T00:00:00.0000000' AS DateTime2), 1, N'/images/quiz-note-values.svg')
INSERT [dbo].[Quizzes] ([Id], [Title], [Description], [Type], [LessonId], [CreatedAt], [IsActive], [ImageUrl]) VALUES (201, N'Name the Note on the Staff', N'Read treble-clef notes and identify their letter names.', 0, 100, CAST(N'2026-09-29T00:00:00.0000000' AS DateTime2), 1, N'/images/quiz-note-names.svg')
INSERT [dbo].[Quizzes] ([Id], [Title], [Description], [Type], [LessonId], [CreatedAt], [IsActive], [ImageUrl]) VALUES (202, N'Guitar Foundations Check', N'Check your knowledge of strings, tuning and fretboard basics.', 0, 106, CAST(N'2026-09-29T00:00:00.0000000' AS DateTime2), 1, N'/images/course-beginner-guitar.svg')
SET IDENTITY_INSERT [dbo].[Quizzes] OFF
GO
SET IDENTITY_INSERT [dbo].[Resources] ON 

INSERT [dbo].[Resources] ([Id], [Title], [Description], [Type], [Url], [LessonId], [UploadedAt]) VALUES (10, N'Music theory reference', N'Course reference PDF for notation and theory review.', 0, N'/references/MusicTheory.pdf', 100, CAST(N'2026-09-29T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Resources] ([Id], [Title], [Description], [Type], [Url], [LessonId], [UploadedAt]) VALUES (11, N'Open chord reference', N'Printable chord reference for beginner guitar practice.', 1, N'/references/open-chords.pdf', 108, CAST(N'2026-09-29T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Resources] OFF
GO
SET IDENTITY_INSERT [dbo].[StoredImages] ON 

SET IDENTITY_INSERT [dbo].[StoredImages] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Enrollments_Student_Course]    Script Date: 9/29/2026 11:07:29 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Enrollments_Student_Course] ON [dbo].[Enrollments]
(
	[StudentId] ASC,
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_LessonCompletions_Student_Lesson]    Script Date: 9/29/2026 11:07:29 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_LessonCompletions_Student_Lesson] ON [dbo].[LessonCompletions]
(
	[StudentId] ASC,
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Lessons_Course_Order]    Script Date: 9/29/2026 11:07:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Lessons_Course_Order] ON [dbo].[Lessons]
(
	[CourseId] ASC,
	[OrderIndex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_QuizAnswers_Attempt_Question]    Script Date: 9/29/2026 11:07:29 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_QuizAnswers_Attempt_Question] ON [dbo].[QuizAnswers]
(
	[QuizAttemptId] ASC,
	[QuizQuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_QuizAttempts_Student_Quiz]    Script Date: 9/29/2026 11:07:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_QuizAttempts_Student_Quiz] ON [dbo].[QuizAttempts]
(
	[StudentId] ASC,
	[QuizId] ASC,
	[CompletedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuizQuestions_Quiz_Order]    Script Date: 9/29/2026 11:07:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_QuizQuestions_Quiz_Order] ON [dbo].[QuizQuestions]
(
	[QuizId] ASC,
	[OrderIndex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Resources_Lesson_Title]    Script Date: 9/29/2026 11:07:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Resources_Lesson_Title] ON [dbo].[Resources]
(
	[LessonId] ASC,
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_StudentAwards_Student_AwardKey]    Script Date: 9/29/2026 11:07:29 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_StudentAwards_Student_AwardKey] ON [dbo].[StudentAwards]
(
	[StudentId] ASC,
	[AwardKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChordSongs] ADD  CONSTRAINT [DF_ChordSongs_AddedAt]  DEFAULT (sysutcdatetime()) FOR [AddedAt]
GO
ALTER TABLE [dbo].[LessonCompletions] ADD  CONSTRAINT [DF_LessonCompletions_CompletedAt]  DEFAULT (sysutcdatetime()) FOR [CompletedAt]
GO
ALTER TABLE [dbo].[StudentAwards] ADD  CONSTRAINT [DF_StudentAwards_EarnedAt]  DEFAULT (sysutcdatetime()) FOR [EarnedAt]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_AspNetUsers_InstructorId] FOREIGN KEY([InstructorId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_AspNetUsers_InstructorId]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_AspNetUsers_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_AspNetUsers_StudentId]
GO
ALTER TABLE [dbo].[LessonCompletions]  WITH CHECK ADD  CONSTRAINT [FK_LessonCompletions_AspNetUsers_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[LessonCompletions] CHECK CONSTRAINT [FK_LessonCompletions_AspNetUsers_StudentId]
GO
ALTER TABLE [dbo].[LessonCompletions]  WITH CHECK ADD  CONSTRAINT [FK_LessonCompletions_Lessons_LessonId] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LessonCompletions] CHECK CONSTRAINT [FK_LessonCompletions_Lessons_LessonId]
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD  CONSTRAINT [FK_Lessons_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lessons] CHECK CONSTRAINT [FK_Lessons_Courses_CourseId]
GO
ALTER TABLE [dbo].[QuizAnswers]  WITH CHECK ADD  CONSTRAINT [FK_QuizAnswers_QuizQuestions_QuizQuestionId] FOREIGN KEY([QuizQuestionId])
REFERENCES [dbo].[QuizQuestions] ([Id])
GO
ALTER TABLE [dbo].[QuizAnswers] CHECK CONSTRAINT [FK_QuizAnswers_QuizQuestions_QuizQuestionId]
GO
ALTER TABLE [dbo].[QuizAttempts]  WITH CHECK ADD  CONSTRAINT [FK_QuizAttempts_AspNetUsers_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[QuizAttempts] CHECK CONSTRAINT [FK_QuizAttempts_AspNetUsers_StudentId]
GO
ALTER TABLE [dbo].[QuizAttempts]  WITH CHECK ADD  CONSTRAINT [FK_QuizAttempts_Quizzes_QuizId] FOREIGN KEY([QuizId])
REFERENCES [dbo].[Quizzes] ([Id])
GO
ALTER TABLE [dbo].[QuizAttempts] CHECK CONSTRAINT [FK_QuizAttempts_Quizzes_QuizId]
GO
ALTER TABLE [dbo].[Resources]  WITH CHECK ADD  CONSTRAINT [FK_Resources_Lessons_LessonId] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Resources] CHECK CONSTRAINT [FK_Resources_Lessons_LessonId]
GO
ALTER TABLE [dbo].[StudentAwards]  WITH CHECK ADD  CONSTRAINT [FK_StudentAwards_AspNetUsers_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[StudentAwards] CHECK CONSTRAINT [FK_StudentAwards_AspNetUsers_StudentId]
GO
USE [master]
GO
